{% extends 'base.html.twig' %}

{% block title %}Recruitis.io - Seznam inzerátů{% endblock %}

{% block body %}
    <h2 class="text-xl mb-2">Seznam inzerátů</h2>
    <div id="app"></div>
{% endblock %}
