{% extends 'base.html.twig' %}

{% block title %}Recruitis.io - Detail{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('job-detail') }}
{% endblock %}

{% block body %}
    <div id="app" data-job-id="{{ jobId }}"></div>
{% endblock %}

